# Ignore all DS_Store files
.DS_Store

# All xcuserdata stuffs
/GymBros/GymBros.xcworkspace/xcuserdata/*
/GymBros/GymBros.xcodeproj/project.xcworkspace/xcuserdata/*
/GymBros/GymBros.xcodeproj/xcuserdata/*
/GymBros/Pods/*
